# Python build artifacts
# --------------------------------------------------------------------
build/
dist/
*.egg-info/
__pycache__/

# Virtual Environment
# --------------------------------------------------------------------
tsl/

# IDE and OS files
# --------------------------------------------------------------------
.idea/
.vscode/
.DS_Store