# Python build artifacts and caches
# --------------------------------------------------------------------
build/
dist/
*.egg-info/
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual Environment
# --------------------------------------------------------------------
tsl/
.venv/
venv/

# IDE and OS files
# --------------------------------------------------------------------
.idea/
.vscode/
.DS_Store

# Secret files
# --------------------------------------------------------------------
.env
*.env
src/__pycache__/
*/__pycache__/
template.json
model.onnx/